table{
	background-color:yellow;
	border:1px solid black;
	text-align:center;
	
}
caption{
	font-size:40px;
	font-weigth:bolder;
}
table>thead{
	text-transform:uppercase;
	
}
.first{
	font-weight:700;
	font-size:20px;
	border:1px solid black;
}
.capital{
	text-transform:uppercase;
}
th,td{
	border:1px solid black;
}
th,td{
	padding:10px;
}

table{
	margin:auto;
}

